:global(*) {
  font-family: Roboto;
  box-sizing: border-box;
}

:global(html),
:global(body),
:global(#app),
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.main {
  display: flex;
  flex-direction: column;
}

.info {
  background: black;
  color: white;
  height: 3rem;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.text {
  flex: 1;
  text-transform: uppercase;
}

#selectedNoteLabel {
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  background: var(--current-note-color);
  border: 0;
  margin-left: 0.25rem;
  padding-top: 2px;
}

#nextBtn,
#resetBtn {
  padding: 4px 8px;
  border-radius: 8px;
  border:0;
  text-transform: uppercase;
  font-size: small;
}

.fretboard {
  flex: 1;
  padding: 8px;

  display: grid;
  grid-template-columns: 8px repeat(6, 1fr) 8px;
  grid-template-rows: 0px 42px repeat(13, 1fr);
  row-gap: 4px;
  column-gap: 4px;

  background: rgb(2,0,36);
  background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(88,33,14,1) 37%, rgba(0,0,0,1) 100%);
}

.fretboard-btn {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: bold;
  z-index: 0;
}

.fretboard-btn::before {
  content: '';
  background: var(--color, "white");
  display: block;
  width: var(--element-width, 100%);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.fretboard-btn.hidden {
  opacity: 0;
}

.mark {
  background: white;
  width: 100%;
  height: 100%;
}

.cont {
  position: relative;
}

.fret {
  width: 100vw;
  height: 4px;
  background: silver;
  position: absolute;
  top: -4px;
  left: -8px;
}
.nut {
  height: 8px;
  top: -6px;
}

.string {
  display: flex;
  position: relative;
}

.string::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100vh;
  top: -8px;
  left: calc(50% - 3px);
  background: goldenrod;
}

.next::before {
  background: #7558a1;
}

.ok::before {
  background: #9abc56;
}

.fail::before {
  background: #e05659;
}

.check {
  -webkit-font-smoothing: antialiased;
  border-radius: 50%;
  color: white;
  display: var(--fa-display,inline-block);
  font-family: "Font Awesome 6 Free";
  font-size: 1.25rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  padding: 8px;
  position: absolute;
  text-rendering: auto;
  top: -10px;
  z-index: 2;

  left: calc(50% - 21px);
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 24px;
}

.ok > .check::before {
  content: "\f00c";
}

.ok > .check {
  background: #9abc56;
}

.fail > .check::before {
  content: "\f00d";
}
.fail > .check {
  background: #e05659;
}

.next > .check::before {
  content: "\f063";
}

.next > .check {
  background: #7558a1;
}


.timer-circle {
  position: absolute;
  width: 42px;
  height: 42px;
  z-index: 2;
  top: -11px;
  left: calc(50% - 21px);
}

